* {
    /* font-family: monospace; */
}

#Header {
    display: flex;
    flex-flow: row wrap;
    /* color: darkcyan; */
    background-color: rgb(255, 255, 255);
    /* border-radius: 30px; */
    /* opacity: .70; */
    /* height: 200px; */
}

.navBar {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin-top: 20px;
}

.navLink {
    /* margin-top: 10px; */
    margin-left: 100px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    /* font-weight: bold; */
}

#Header p {
    font-size: 1.5em;
    padding-right: 40px;
}

.logo {
    width: 18em;
    height: 18em;
    cursor: pointer;
}

.wrapper1 {
    width: 100px;
    margin: 0 auto;
}

.menu-button {
    background-color: transparent;
    color: white;
    background-color: black;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid white;
    font-size: 1.7em;
    width: 6em;
    border-radius: 6px;
}

.right-menu {
    position: relative;
    display: inline-block;
    /* float: right; */
}

.drop-down {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 260px;
    min-height: 170px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999 important!;
}

.drop-down a {
    color: white;
    text-decoration: none;
    display:block;
    margin: auto;
    padding: 12px;
    font-size: 25px;
}

.drop-down a:hover {
    background-color: white;
    color: black;
}

.right-menu:hover .drop-down{
    display: block;
}

.right-menu:hover .menu-button {
    background-color: black;
}